!!!
%html
  %head
    %title SlidingGallery
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header.row-fluid
      .inner-header
        %ul.nav.hmenu.span4
          %li= render 'devise/menu/registration_items'
          %li= render 'devise/menu/login_items'
      .wallslide.span6= "Welcome to Wallslide - Your own sliding wallpaper gallery!"
    #container.row-fluid
      .inner-container.span12
        = yield
